.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-menu p{
    font-size: 20px;
    font-weight: 400;
}
.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    overflow-x: scroll;
    text-align: center;
    margin: 20px 0;
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
    


}
.explore-menu-list p{
   
   margin-top: 10px;
   font-size: max(1.4vw,16px);
   color: #747474;
   cursor: pointer;
}
.explore-menu-list hr{
    margin: 10px 0;
    height: 2px;
    border-color: #E2E2E2;
    border: none;
}
.explore-menu-list .active{
    border: 2px solid tomato;
    padding: 2px;
}


